.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .form-group {
    margin: 0;
  }
  & .btn {
    flex-grow: 1;
  }
  @include MQ($XS) {
    flex-wrap: nowrap;

    & .btn {
      flex-grow: 0;
    }
  }
}

.btn-primary {
  background-color: $blue;
  color: $gray-black;

  &:hover {
    background-color: darken($blue, 10);
    color: $white;
  }
}

.btn-secondary {
  background-color: $gray;
  color: $white;

  &:hover {
    background-color: darken($gray, 10);
    color: $blue;
  }
}

a.btn {
  display: block;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  border: none;
  padding: 0.6rem 2rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn-rounded {
  padding: 0.7rem;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 0.7rem;
  color: $white;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.btn-cancel {
  margin-top: 1rem;
  @include MQ($XS) {
    margin-top: 0;
  }
}

.icon-actions {
  padding: 0.5rem;
  background-color: $blue;
  font-size: 0.8rem;
  color: $white;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: darken($blue, 10);
    color: $white;
  }
  &.icon-big {
    position: absolute;
    padding: 0.7rem;
    right: 0;
    bottom: 0;
    font-size: 1rem;
  }
  &.icon-secondray {
    background-color: $gray;
  }
}

button.disabled {
  cursor: not-allowed;
}