/* ---------------------------------------------------------------------------------------------------------------------
FONTS
--------------------------------------------------------------------------------------------------------------------- */
$font-family-regular: "montserrat", sans-serif;
$font-family-semibold: "montserrat-semibold", sans-serif;

/* ---------------------------------------------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------------------------------------------- */
$white: #fff;
$black: #000;
$blue: #FFD100;
$green: #7DCD33;
$orange: #FF6146;
$red: #EF473A;
$gray: #707070;
$gray-light: #F9F9F9;
$gray-medium: #C1C1C1;
$gray-black: #575757;

/* ---------------------------------------------------------------------------------------------------------------------
BREAKPOINTS
--------------------------------------------------------------------------------------------------------------------- */
$XS: 368px; // Below, we would use $XS (but considering we use min-width we don't have to specify it)
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

/* ---------------------------------------------------------------------------------------------------------------------
Z-INDEX
--------------------------------------------------------------------------------------------------------------------- */
$msg-flashes: 10;

$shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 12px rgba(0, 0, 0, 0.1);